.ytd-watch-flexy#secondary {
    display: none
}

div.internalVimiumHintMarker.vimiumReset {
    background-color: #98971a !important;
    color: #fbf1c7 !important;
    box-shadow: inset 0 -2px 0 #98971a !important;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;

	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.1s;
}

div.internalVimiumHintMarker.vimiumReset span {
    color: #fbf1c7 !important;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

div.internalVimiumHintMarker.vimiumReset > .matchingCharacter {
    color: #d5c4a1 !important;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
