div > .vimiumHintMarker {
  /* linkhint boxes */
  background: #9b9e85;
  border: none;
  padding: 2px 3px;
}

div > .vimiumHintMarker span {
  /* linkhint text */
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
}

div > .vimiumHintMarker > .matchingCharacter {
  color: #ffff !important;
}
