div > .vimiumHintMarker {
	/* linkhint boxes */
	background: #f5bde6 !important;
	border: none;
	color: #242739 !important;
	box-shadow: none !important;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

div > .vimiumHintMarker span {
	color: #242739 !important;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

div > .vimiumHintMarker > .matchingCharacter {
	color: #f5bde6 !important;
}
